h2.typo__h2#select-object Single select dropdown (object)
p.typo__p Can't become empty. Showing custom deselect label.
p.typo__p The selected value is referencing the same object as the next example, to show that dynamic preselection works.
.grid__row
  .grid__column.grid__unit--md-5
    label.typo__label Single select / dropdown
    multiselect(
      :options="source",
      :selected="value",
      :multiple="false",
      :searchable="false",
      :close-on-select="false",
      :allow-empty="false",
      @update="updateValue",
      deselect-label="Can't remove this value"
      key="name"
      label="name"
      placeholder="Select one"
    )
    pre.language-json
      code.
        {{ value | json }}

  .grid__column.grid__unit--md-7
    label.typo__label Code sample
    pre.language-jade
      code.
        multiselect(
          :options="source",
          :selected="value",
          :multiple="false",
          :searchable="false",
          :close-on-select="false",
          :allow-empty="false",
          @update="updateValue",
          deselect-label="Can't remove this value"
          key="name"
          label="name"
          placeholder="Select one"
        )
