h2.typo__h2#tagging Tagging
p.typo__p
  | To enable tagging you have to set up 2 props. <kbd>:taggable="true"</kbd> and <kbd>:on-tag="callback"</kbd> which should add the tag to both Options and Selected arrays.
.grid__row
  .grid__column.grid__unit--md-5
    label.typo__label Tagging
    multiselect(
      :options="taggingOptions",
      :selected="taggingSelected",
      :multiple="true",
      :searchable="searchable",
      :taggable="true",
      @tag="addTag",
      @update="updateSelectedTagging",
      tag-placeholder="Add this as new tag"
      placeholder="Type to search or add tag"
      label="name"
      key="code"
    )
      span(slot="noResult").
        Oops! No elements found. Consider changing the search query.
    pre.language-json
      code.
        {{ taggingSelected  }}

  .grid__column.grid__unit--md-7
    label.typo__label Code sample
    pre.language-jade
      code.
        multiselect(
          :options="taggingOptions",
          :selected="taggingSelected",
          :multiple="true",
          :searchable="searchable",
          :taggable="true",
          @tag="addTag",
          @update="updateSelectedTagging",
          tag-placeholder="Add this as new tag"
          placeholder="Type to search or add tag"
          label="name"
          key="code"
        )
          span(slot="noResult").
            Oops! No elements found. Consider changing the search query.

    pre.language-javascript
      code.
        addTag (newTag) {
          const tag = {
            name: newTag,
            // Just for example needs as we use Array of Objects that should have other properties filled.
            // For primitive values you can simply push the tag into options and selected arrays.
            code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
          }
          this.taggingOptions.push(tag)
          this.taggingSelected.push(tag)
        },
        updateSelectedTagging (value) {
          console.log('@tag: ', value)
          this.taggingSelected = value
        }
